.partners{
  background: #ecf2f7;
  padding-bottom: var(--section-pad-bottom);
}

.partners__container{
  padding-top: var(--section-pad-top);
}

.partners__scheme{
  margin: 0 auto;
  max-width: 822px;
  width: 100%;
  height: 778px;
  display: grid;
  place-items: center;
}

.partners__svg{
  width: 100%;
  height: 100%;
  display: block;
}

.dot {
  fill: #0AFFF0;

  transform-box: fill-box;     /* ВАЖНО */
  transform-origin: center;    /* теперь работает корректно */

  transition: transform 0.25s ease;
}

.dot:hover {
  transform: scale(2);
}

/* при наведении увеличивается до 10 */
.dot:hover {
  transform: scale(2);
}

@media (max-width: 900px){
  .partners__scheme{
    height: auto;
    aspect-ratio: 822 / 778;
  }
}

